
body {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    background-image: linear-gradient( 135deg, #3C8CE7 10%, #00EAFF 100%);
}
h2 {
    font-family: 'Work Sans', sans-serif;
}